@charset "utf-8";
/* CSS Document */
body {
	margin:0; padding:0; width:100%; background-image: url(../images/bodybg.jpg); background-repeat: no-repeat; background-position: left top;
}
html { padding:0; margin:0;}

img {
}

/* main */
.main {width:100%; padding:0; margin:0 auto; min-height:550px;}
.resize { width:985px; margin:0 auto;}

/********** header **********/
.header1 { padding:0; margin:0 auto; }

.block_header {
	width:982px;
	background-color:rgb(5, 14, 83);
	padding:0;
	border:none;
	height: 110px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

/* logo */
.logo {
	float:left;
	margin:0;
	width:261px;
	padding-top: 15;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

/* menu */
.menu {
	height:30px;
	float:right;
	padding:0;
	margin:40px 0 0 0;
	width: 620px;
}
.menu ul { padding:0; margin:0; list-style:none; border:0; float:left;}
.menu ul a{ padding-left: 6px; padding-bottom: padding-top: 3px; 8px; color: #6E6E6E;}
.menu ul li { float:left; margin:0; border:0; padding-right: 3px; padding-left: 6px;}
.menu ul li a {
	float:left;
	line-height: 22px;
	display: block;
	margin:0;
	color:#6E6E6E;
	text-decoration:none;
	padding-right: 3px;
	padding-bottom: 8px;
	padding-left: 4px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	padding-top: 3px;
}

.menu ul li.current-menu-item, 
.menu ul li:hover {
	background: transparent url(../images/menuselect-right.png) no-repeat right 0;
}
.menu ul li.current-menu-item a.depth-0, 
.menu ul li:hover a.depth-0 {
	color: #FFF;
	background: transparent url(../images/menuselect-bg.png) no-repeat 0 0;
}
/********** block index **********/
.body {
	background:url(images/bg.gif);
	padding:0 0 0 0;
	margin:0;
}

.body_resize {
	width:980px;
	padding:0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.body h1 {
	color:#43B3D8;
	margin:0;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.body h2 {
	font:normal 18px Verdana, Geneva, sans-serif;
	color:#858585;
	padding:15px 5px;
	margin:0;
}
.body h5 { font:normal 18px Verdana, Geneva, sans-serif; color:#858585; padding:15px 5px; margin:0;}
.body h4 {
	color:#43B3D8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.body h3 {
	font:bold 14px Verdana, Geneva, sans-serif;
	color:#858585;
	margin:0;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 10px;
}
.b {
	font:bold 14px Verdana, Geneva, sans-serif;
	color:#858585;
	margin:0;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 10px;
}
.body .cont {
	font:11px Verdana, Geneva, sans-serif;
	color:#858585;
	margin:0;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;

}
.body p {
	color:#666;
	margin:0;
	line-height:20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 10px;
}
.body p span { color:#4392ca;}
.body a {
	color:#3891d1;
	text-decoration:none;
}
/*.body img { float:left; margin:5px; padding:0;}
.body img.floated {float:right; margin:20px 25px 5px 5px; padding:0; }*/
.right  {
	width:595px;
	float:left;
	margin-top: 50px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 200px;
	padding-left: 15px;
}
.cont_right  {
	width:500px;
	float:right;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}

.right ul {
	list-style:none;
	border:0;
	float: left;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 10px;
	display: block;
}
.right ul li{
	list-style-image:none;
	list-style:none;
	font-weight:normal;
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666666;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 15px;
} 

.list1{}
.list1 ul{
	list-style:none;
	border:0;
	float: left;
	margin-top: 0;
	margin-right: 10px;
	margin-left: 0;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 10px;
	display: block;
	margin-bottom: 0;
}
.list1 ul li{
	list-style-image:none;
	list-style:none;
	font-weight:normal;
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 15px;
	line-height: 19px;
}

#quality {}
#quality ul {
	list-style:none;
	border:0;
	float: left;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 10px;
}
#quality ul li{
	list-style-image:none;
	list-style:none;
	font-weight:normal;
	background-image: url(../images/list-icons-blue_02.jpg);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #333;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 30px;
	margin-right: 15px;
} 
.right p span {
	color:#C00;
	margin:0;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: oblique;
	font-weight: bold;
}


#offers {}
#offers ul {
	list-style:none;
	border:0;
	float: left;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 10px;
}
#offers ul li{
	list-style-image:none;
	list-style:none;
	font-weight:normal;
	background-image: url(../images/list-icons-blue_1.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #333;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 20px;
	margin-right: 15px;
}	
 .rounbox{
	height:100%;
	border:1px solid #e0e0e0;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
}
.rounbox img{
	border: medium solid #CCC;
	float: left;
	margin-right: 10px;
}
#notetext{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: oblique;
}
.textitalic{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #333;
	font-style: italic;
	line-height: 20px;
	text-align: left;
}
.left  { width:331px; float:left; margin:5px;} 
.map{
	width: 430px;
	margin-top: 10px;
}
.map a{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #3891d1;
}
.map a:hover{color: #999;}



/*contact*/
.getInTouch ul li.phoneContact, .getInTouch ul li.faxContact, .getInTouch ul li.emailContact, .getInTouch ul li.addressContact, .getInTouch ul li.skypeContact {
	padding-left:30px;
	padding-top:10px;
	margin-bottom:10px;
	}
.getInTouch ul li.phoneContact {
	background-color: transparent;
	background-image: url(../images/phone.png);
	background-repeat: no-repeat;
	background-position: 6px 10px;
}

.getInTouch ul li.emailContact {
	background-color: transparent;
	background-image: url(../images/email.png);
	background-repeat: no-repeat;
	background-position: 3px 10px;
}
.getInTouch ul li.skypeContact {background:transparent url(../images/skype.png) 3px 11px no-repeat;}
.getInTouch ul li.addressContact {background:transparent url(../images/home.png) 3px 10px no-repeat;}
/* Get in Touch Right Column */
.getInTouch.right {
	margin-top:10px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	float: left;
	width: 470px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	}
	
.getInTouch p {margin-bottom:10px;}
.getInTouch.right h6 {color:#444;}

.getInTouch.right ul li.phoneContact {
	background-color: transparent;
	background-image: url(../images/phone_gray.png);
	background-repeat: no-repeat;
	background-position: 3px 10px;
}	
.getInTouch.right ul li.faxContact {
	background-color: transparent;
	background-image: url(../images/fax_gray.png);
	background-repeat: no-repeat;
	background-position: 3px 10px;
}
.getInTouch.right ul li.emailContact {background:transparent url(../images/email_gray.png) 0 10px no-repeat;}
.getInTouch.right ul li.skypeContact {background:transparent url(../images/skype_gray.png) 0 11px no-repeat;}
.getInTouch.right ul li.addressContact {background:transparent url(../images/home_gray.png) 0 10px no-repeat;}

/* quotes*/
.quote_bg{
	font-size:12px;
	color:#656253;
	border:0px;
	background-repeat:no-repeat;
	background-color:#c2d7de;
	width: 330px;
	height: 165px;
	background-image: url(../images/png/quote_bg_05.jpg);
	
}

blockquote.quote{
	font-size:12px;
	color:#656253;
	border:0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 35px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 330px;
	height: 139px;
}

.name-testi{
	font-size:12px;
	line-height:normal;
	margin-left:40px;
	padding-top:10px;
}
.qtext{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #376795;
	font-style: italic;
	line-height: 20px;
	text-align: left;
	background-image: url(../images/quoteopen.gif);
	background-repeat: no-repeat;
	padding-left: 30px;
}
.qtext p{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #0079A7;
	font-style: italic;
	width: 330px;
	line-height: 22px;
	text-align: left;
}
.part_link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color:#8C8C8C;
	margin-top: 10px;
	padding-top: 10px;
}
.impact_logo {
	float: right;
	verticle-align: baseline !important;
	display: block;
	
}
.impact_logo img{
	border: 1px solid #3CB3DB;
}


/* block_top */ 
.block_top_resize {
	width:954px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0;
}
.block_bg {
	width:298px;
	float:left;
	padding:0;
	margin:10px !important;
	margin:10px 10px 10px 5px;
	background-image: url(../images/bg_small_side.gif);
	background-repeat: repeat-y;
	background-position: top;
}
.block_resource {
	width:270px;
	float:left;
	margin-left: 15px;
	padding-top: 10;
	padding-right: 0;
	padding-bottom: 10;
	padding-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #2CB3E0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.block_resource  p {
	width:208px;
	height:41px;
	color:#8C8C8C;
	margin:0;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 55px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.block_resource p a{
	color:#666;
}
.block_resource p a:hover{
	color:#43B3D8;
}
.block_resource p.p_inpact {
	background-image: url(../images/inpact_logo.jpg);
	background-repeat: no-repeat;
	background-position:  0px;
}
.block_resource p.p_inpactaudit {
	background-image: url(../images/inpact_logo_audit.jpg);
	background-repeat: no-repeat;
	background-position:  0px;
}
.block_resource p.p_Forum
 {
	background-image: url(../images/ifac_logo.jpg);
	background-repeat: no-repeat;
	background-position:  0px;
}
.block_resource p.p_icai
 {
	background-image: url(../images/icai_logo.jpg);
	background-repeat: no-repeat;
	background-position:  0px;
}
.block_resource p.p_itd
 {
	background-image: url(../images/itd_logo.jpg);
	background-repeat: no-repeat;
	background-position:  0px;
}
.block_resource p.p_mca
 {
	background-image: url(../images/mca_logo.jpg);
	background-repeat: no-repeat;
	background-position:  0px;
}
.block_resource p.p_rbi
 {
	background-image: url(../images/rbi_logo.jpg);
	background-repeat: no-repeat;
	background-position:  0px;
}

.block_fact {
	width:270px;
	float:left;
	margin-left: 15px;
	padding-top: 10;
	padding-right: 0;
	padding-bottom: 10;
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color:#8C8C8C;
}

.block_fact  p {
	width:208px;
	height:41px;
	margin:0;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 55px;

}
.block_fact a{
	color:#9C0;
}
.block_fact :hover{
	color:#C00;
}
.block_bottom {
	background-image: url(../images/bottom_img.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
.block_top { background:url(../images/h2_bg.gif) top no-repeat;}
.block_top h2 {
	width:208px;
	height:41px;
	color:#fff;
	margin:0;
	padding-top: 25px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 25px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.block_top p { font: normal 12px Arial, Helvetica, sans-serif; color:#808080; padding:10px 25px 5px 25px; margin:0; line-height:1.8em;}
.block_top a { font: bold 12px Arial, Helvetica, sans-serif; color:#3b9ccf; text-decoration:none;}
.block_top ul{
	float: left;
	padding-left: 15px;
	list-style-type: none;
}
.block_top li{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: normal;
	text-decoration: none;
	padding-top: 7px;
	text-align: left;
	padding-left: 15px;
	color: #808080;
	padding-bottom: 7px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E5E5E5;
}


/*************footer**********/
.logo img {
    width: auto;
    height: auto;
}
.logo_disclaimer{
	float:none;
	text-align:center;
	padding-left:100px;
}
.footer {
	background-color: #323232;
	background-repeat: repeat;
	background-position: bottom;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 0;
	height: 110px;
}
.footer_resize { margin:0 auto; padding:0; width:960px;}
.footer p {
	color:#868686;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	margin: 0px;
	float: left;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.footer a {
	color:#CCC;
	text-decoration:none;
	padding:5px;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.footer a:hover {
	color:#81C6DF;
}
	
.footer p.leftt {
	padding-left: 220px;
}
.footer p.rightt {
	text-align: right;
	float: right;

} 

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg {
	clear:both;
	border-top:1px solid #d9d9d9;
	padding:0;
	background:none;
	line-height:0;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
}
li.bg2, .bg2 { clear:both; border-top:1px solid #484848; padding:0; margin:10px 0; background:none; line-height:0;}
#push {
	height:100%;}
.int {
	padding-left: 5px;
	padding-top: 30px;
}

/*-------------------------------------tabs---*/

#tabs
{
	float: left;
	width: 590px;
	height: 32px;
	padding-left: 0px;
	padding-right: 15px;
	margin-bottom: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CADFE5;
	
}
#tab
{
	padding:0;
	margin:0;
	display:inline;
	float: left;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}
#tabs li
{
	display:inline;
	float:left;
	height: 27px;
	width: 106px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	background-image: url(../images/tab_bg.png);
	background-repeat: no-repeat;

}
#tabs li a
{

	height: 27px;
	width: 106px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #376795;
	text-align: center;
}
#tabs li:hover
{
	background-image: url();
	background-color: #4EAFDC; 
	background-repeat: no-repeat;
	height: 20px;
	width: 100px;
	padding-top: 10px;
	border-radius: 30px;
	padding-bottom: 5px;
	color: #FFF;
	text-align: center;
}
#tabs li.current a  
{
	color:black;
	height: 27px;
	width: 106px;
	padding-top: 12px;
	padding-bottom: 5px;

	}

#tabs li.current 
{
	color: #FFFFFF;
	background-image: url(../images/tab_selected_bg.png);
	background-repeat: no-repeat;
	height: 27px;
	width: 106px;
	padding-top: 10px;
	padding-bottom: 5px;

	}
#tabs li a
{
	height: 22px;
	width: 106px;
	padding-top: 8px;
	padding-bottom: 5px;
	color: #376795;


}
#tabs li a:hover
{
	height: 22px;
	width: 116px;
	padding-top: 8px;
	padding-bottom: 5px;
	color: #FFF;

}

/*-------------------------------------tabs the firm---*/

#firms
{
	float: left;
	width: 590px;
	height: 32px;
	padding-left: 0px;
	padding-right: 15px;
	margin-bottom: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CADFE5;
	
}
#firm
{
	padding:0;
	margin:0;
	display:inline;
	float: left;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}
#firms li
{
	display:inline;
	float:left;
	height: 27px;
	width: 95px;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	background-image: url(../images/firm_bg.png);
	background-repeat: no-repeat;

}
#firms li a
{

	height: 27px;
	width: 95px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #376795;
	text-align: center;
}
#firms li:hover
{
	background-image: url(../images/firm_selected_bg.png);
	background-repeat: no-repeat;
	height: 27px;
	width: 95px;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #FFF;
	text-align: center;
}

#firms li.current a  
{
	color: #FFFFFF;
	height: 20px;
	width: 95px;
	padding-top: 12px;
	padding-bottom: 5px;

	}

#firms li.current 
{
	color: #FFFFFF;
	background-image: url(../images/firm_selected_bg.png);
	background-repeat: no-repeat;
	height: 27px;
	width: 95px;
	padding-top: 10px;
	padding-bottom: 5px;

	}
#firms li a
{
	height: 22px;
	width: 95px;
	padding-top: 8px;
	padding-bottom: 5px;
	color: #376795;


}
#firms li a:hover
{
	height: 22px;
	width: 95px;
	padding-top: 8px;
	padding-bottom: 5px;
	color: #FFF;

}


/*-------------------------------------accordian---*/
#basic-accordian{
	border-radius:10px;


	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:580px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

.accordion_headings{
	padding:5px;
	color:#FFFFFF;
	border:1px solid #FFF;
	cursor:pointer;
	font-weight:bold;
	font-size: 12px;
	background-color: #2D89B2;
}

.accordion_headings:hover{
	background-color: #4EAFDC;
}

.accordion_child{
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.founder_list img, .partners_list img, .accordion_child .ppic{
	box-shadow: black 0px 0px 10px;
}

.header_highlight{
	background-color: #4EAFDC;
}
.accmenu{
	float: left;
	width: 200px;
}
.partmenu{
	float: left;
	width: 160px;
}
.accmenu1{
	float: right;
	width: 378px;
}
.partmenu1{
	float: right;
	width: 420px;
}
.accordion_child {}
.accordion_child ul {
	list-style:none;
	border:0;
	float: left;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: block;
	width: 340px;
}
.accordion_child ul li{
	list-style-image:none;
	list-style:none;
	font-weight:normal;
	background-image: url(../images/marker.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #666666;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 10px;
}



/*==================boxes====================*/

.aside {
		float:left;
		width:331px;
		margin-right:7px;
	}
.aside h3{
	background:url(../images/title-bg.png) no-repeat 0 0;
	width:331px;
	height:16px;
	}
.box {
	width:100%;
	margin-bottom:7px;
	overflow:hidden;
}

	.box .left-top-corner {
	padding-left:12px;
	background-image: url(../images/left-top-corner.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	.box .right-top-corner {
	padding-right:12px;
	background-image: url(../images/right-top-corner.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	}
	.box .border-top {
		background:#fff;
		height:12px;
		overflow:hidden;
		font-size:0;
		line-height:0;
	}
	.box .left-bot-corner {
	padding-left:12px;
	background-image: url(../images/left-bot-corner.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	}
	.box .right-bot-corner {
	padding-right:12px;
	background-image: url(../images/right-bot-corner.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	}
	.box .border-bot {
	height:12px;
	overflow:hidden;
	font-size:0px;
	line-height:0;
	background-color: #C4D8DF;
	}
	.box .inner {
	background-color: #C4D8DF;
	padding-top: 0px;
	padding-right: 20px;
/*	padding-bottom: 8px;*/
	padding-left: 20px;
	}


blockquote {
	background: url(../images/quoteopen.gif) no-repeat top left;
	padding-left: 30px;

}
.line{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-top: 10px;
	margin-bottom: 20px;
}
.apply{
	background-image: url(../images/arrow_blue.png);
	background-repeat: no-repeat;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #00A7F3;
	float: right;
	padding-right: 30px;
	background-position: 160px;
	font-weight: normal;
	width: 160px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.apply :hover{
	color: #666;
}
.haveq{
	display: block;
	height: 109px;
	width: 85px;
	float: right;
	margin-bottom: 10px;
	
}
.haveq a{

}
.haveq :hover{
	border: 1px solid #28B6F6;
}
.jupiter{
	float: left;
}
.block_resource img{
	margin-right: 15px;
	float: left;
}
.hmlnk {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 5px;
	font-size: 12px;
	line-height: 17px;
	color: #04709F;	
}
.hmlnk:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 5px;
	font-size: 12px;
	line-height: 17px;
	color: #04719F;
}
.accordion_child span {
	padding-left: 4px;
}
.boxslideshow .cycle img {

}
.bluebul {
	margin-left: 30px;
	padding-left: 30px;
	color: #0071AC;
}
.main .body .body_resize .right #list1 .bluebul li {
	list-style-image: none;
	list-style-type: none;
}
.main .body .body_resize .right #list1 .bluebul ul li {
	list-style-image: none;
	list-style-type: none;
}
#values {
}
#values ul {

	list-style:none;
	border:0;
	float: left;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 10px;
}
#values ul li {

	list-style-image:none;
	list-style:none;
	font-weight:normal;
	background-image: url(../images/list-icons-blue_1.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #036DA7;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 20px;
	margin-right: 15px;
}
.accordion_child .qual {
	padding: 0px;
	margin-top: -10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: italic;
	color: #666666;
}
.pic {
	margin-bottom: -10px;
}
.accordion_child .ppic {
	float: left;
	margin-right: 10px;
	margin-top: -5px;
}
.footer .footer_resize .disc {
	margin-right: auto;
	margin-left: auto;
	clear: none;
	float: left;
	padding-top: 10px;
}
.footline {
	margin-right: auto;
	margin-left: auto;
	float: left;
	clear: both;
}
.footer .f1 {
	clear: right;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.footer .f2 {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 8px;
}
.f2 .int a {
	color: #868686;
}
.disctxt {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	color: #333333;
	padding-right: 11px;
	padding-left: 11px;
}
.news {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	padding-left: 17px;
}
